





@media (max-width: 768px) {
    /* .header{
        height: 10vh;
    } */
    .social-icons{
        display: none;
    }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
 .swiper-pagination-bullet{
    display: inline-block;
 }
  .slide-content {
    gap: 16px;
    margin-top: 80px;
  }
  .slide-content h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
  .slide-content .slide-desc {
    font-size: 14px;
    line-height: 24px;
  }
  .slide-content .info-btn {
    padding: 10px 20px;
    margin-bottom: 6px;
  }
  .services-box,.services-img{
    padding: 10px;
}
.services-img .gemi1{

    
    height: 250px;
}
.services-box .services-main-heading,.blog-heading .blog-main-heading{
    padding-bottom: 10px;
 font-size: 20px;
 line-height: 24px;
 }
 
 .services-box .services-desc,.video-desc{
 font-size: 12px;
 line-height: 20px;

 }
 .user{
    padding: 30px;
}
.user-box{
padding: 10px;
}
.user-box .user-number{
font-size: 60px;
line-height: 1.3;
}
.user-box h5{
font-size: 18px;
}
.user-box .user-desc{
font-size: 12px;
line-height: 20px;
}
.video-img img{
    height: 250px;
}
.partnyor-box{
 display: grid;
 grid-template-columns:repeat(2,50%);
 grid-template-rows: repeat(2 ,1fr);
 gap: 30px;
 align-items: center;
 justify-content: center;
 margin: 20px 0;
}
.partnyor-box img:nth-child(1){
    /* width: 150px; */
}
.partnyor-box img{
    width: 100%;
}
}

@media (max-width: 840px) {

    .navbar-list {
      display: none;
    }
    .responsive-navbar {
      display: block;
    }
    .res-btn {
      display: block;
    }
  }
@media (min-width: 768px) and (max-width:992px) {
  .navbar-list li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: white;
  }
  .navbar-list {
    padding: 0 10px;
  }
  .slide-content {
    gap: 16px;
  }
  .slide-content h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  .slide-content .slide-desc {
    font-size: 16px;
    line-height: 30px;
  }
}


